  html, body{
    height: 100vh;
    width: 100vw;
    margin:  0px;
  }
  
  ol, ul {
    padding-left: 0px;
  }

  .leftflex {
    display: flex;
    float: left;
<<<<<<< HEAD
    width: 30vw;
=======
    width: 30.5vw;
>>>>>>> b96f5df14f17b67a3ab18d50e47b06cb89e7bcd9
    height : 100vh;
    flex-direction: column;
  }
  .centerflex {
    display: flex;
    float: left;
    width: 40vw;
    height : 100vh;
    flex-direction: column-reverse;
  }

  .rightflex {
    display: flex;
    float: right;
    width: 30vw;
    height : 100vh;
    flex-direction:column;
  }

  /* Style the video: 100% width and height to cover the entire window */
  #myVideo {
    z-index: -5;
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
  }


  .squareImage {
    
    align-self: flex-end;
    font-weight: bold;
    height: 35vh;
    width: 25vw;
    background: rgb(255, 255, 255);
    
  }

  .squareTime{
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    width: 29vw;
    height: 13vh;
    background: (255,255,255);
  }

  .timeFlex{
    display: flex;
    flex-direction: row;
    position: absolute;
    left:  25.2vw;
    top: 27vh;
    width: 49vw;
    z-index: 2;
    height: 13vh;
    background: (255,255,255);
  }

  .speaker{
    display: block;
    width:10vw;
    height: 13vh;
  }

  .squareTop {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left:  25.2vw;
    top:0;
    width: 48.8vw;
    z-index: 2;
    height: 27vh;
    background: white;
    line-height: 20px;
    font-weight: bold;
    font-size:80px;
    font-family: "Times New Roman", Times, serif;

  }

  /*School Panel */
  .squareSchool {
    z-index: 0;
    background: white;
    font-size: 20px;
    padding:0;
    height: 30vh;
    text-align: center;
    color:orange;
    width: (30vw);
  }

  .textareaSchool{
    font-size:20px;
    font-family: "Times New Roman", Times, serif;
    height: 18vh;
    width: 25vw;
    box-sizing:border-box;
    background-color: white;
    resize: none;
  }
  /* ----------- */

  /*Menu Panel */
  .squareMenu {
    z-index: 0;
    text-align: center;
    background: #0107C8;
    font-weight: bold;
    line-height: 20px;
    height: 35vh;
    width: (30vw);
  }
  /* ----------- */
  
  /*Schedule Panel*/
  .squareSchedule {
    background: white;
    font-size: 20px;
    color:orange;
    line-height: 20px;
    text-align: center;
    height: 35vh;
    width: 25vw;
    padding: 0;
    
  }

  .textareaSced{
    font-size:20px;
    font-family: "Times New Roman", Times, serif;
    height: 25vh;
    width: 23vw;
    box-sizing:border-box;
    background-color: white;
    resize: none;
  }
  /* ----------- */

  /* To do List panel*/
  .squareList {
    z-index: 0;
    background: #0107C8;
    float: left;
    font-weight: bold;
    line-height: 20px;
    height: 45vh;
    text-align: left;
    width: 30vw;
  }
 /* ----------- */
  /*Date Panel */

  .squareDate {
    display:flex;
    align-items: left;
    justify-content: center;
    float: left;
    flex-direction: column;
    font-size: 23px;
    background: rgb(0, 0, 0,0);
    float: left;
    font-weight: bold;
    line-height: 20px;
    height: 20vh;
    text-align: left;
    width: 30vw;
  }

  mark.blue {
    color:#0000A0;
    background: none;
}

.border1{
  position: absolute;
  width: 25vw;
  height: 35vh; 
  left: 23.5vw;
  background: black;
  z-index: 10; 

}

/*Creative space panel */
  .squareSpace {
    font-family: "Times New Roman", Times, serif;
    z-index: -2;
    background: #0107C8;
    float: left;
    font-weight: bold;
    line-height: 20px;
    height: 60vh;
    text-align: left;
    width: 40vw;
  }
  
